{% extends "base.html"%}

{% block head_title%}
{{ obj.title}} | {{block.super}}
{% endblock %}
{% block content %}
{{share_string}}
<div class="col-sm-6 col-sm-offset-3">
  {% if obj.image %}
    <img src="{{obj.image.url}}" class="img-responsive" />
  {%endif%}
<h1>{{obj.title}}</h1><small>{{ obj.timestamp }}</small>

{{ obj.content | linebreaks }}<br>
<br>

</div>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}">
Twitter
</a>
{% endblock content %}
