{% extends "base.html"%}
{% load urlify %}
{% block head_title%}
{{ obj.title}} | {{block.super}}
{% endblock %}
{% block content %}
afs
{{obj.content|urlify }}
<div class="col-sm-6 col-sm-offset-3">
  {% if obj.image %}
    <img src="{{obj.image.url}}" class="img-responsive" />
  {%endif%}
<h1>{{obj.title}}</h1><small>{{ obj.timestamp | timesince}}</small>
<p>Author: {{obj.user}}</p>

{{ obj.content | linebreaks }}<br>
<br>

</div>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{instance.content|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>
{% endblock content %}
